* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* cores github */
:root {
    --colorPrimaria: #17191d;
    --colorSecundaria: #4c4e524b;
    --colorTexto: #fdfdfd;
    --colorDestacado: #079cff;
}

body {
    background-color: var(--colorPrimaria);
    color: var(--colorTexto);
    display: flex;
    gap: 10px;
    align-items:center;
    justify-content: center;
    height: 100dvh;
}

header {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

header h1 {
    border-bottom: var(--colorDestacado) solid 2px;
}

header i {
    font-size: 80px;    
    text-shadow: 0 0 5px var(--colorDestacado);
}

header p {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 4px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    border-left: white solid 3px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main h2 {
    font-size: 15px;
}

main nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

main nav .itemMenu {
    text-align: center;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px var(--colorTexto);
    background: linear-gradient(to left, var(--colorPrimaria), var(--colorSecundaria));
    transition: all 200ms ease-in-out;
} main nav .itemMenu:hover{
    background: linear-gradient(to rigth, var(--colorPrimaria), var(--colorSecundaria));
    color: var(--colorDestacado);
} .itemMenu a{
    cursor: pointer;
    text-decoration: none;
    color: var(--colorTexto);
    transition: all 200ms ease-in-out;
} .itemMenu a:hover{
    color: var(--colorDestacado);
}
.soonText {
    text-align: center;
}



footer {
    margin-top: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

footer a {
    color: white;
    text-underline-offset: 3px;
    margin-left: 3px;
}

footer p {
    margin: 5px 10px;
}
